:host {
  --primary: #2e1760;
  --secondary: #3423a6;
  --box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

::ng-deep {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.highlight {
  color: var(--secondary);
}

main {
  width: 100vw;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    h1 {
      font-size: 50px;
    }

    .title {
      font-weight: bold;
      color: rgba(#171738, 0.5);
      margin: 1.5rem 0;
    }

    .content {
      .supporting-text {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--secondary);
      }
      max-width: 35vw;
      .partners {
        .logos {
          display: flex;
          justify-content: space-between;
          width: 50%;
          margin-bottom: 3rem;
        }
      }
    }

    .form {
      padding: 2rem;
      box-sizing: content-box;
    }

    .form-box {
      max-width: calc(min(45vw, 500px));
      min-height: 55vh;
      height: fit-content;
      background-color: #fff;
      padding: 2rem 1.1rem;
      border-radius: 0.5rem;
      box-sizing: content-box;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      .fyi {
        font-size: 12px;
        line-height: 1rem;
        font-weight: 300;
        li {
          margin: 1rem;
        }
        margin-left: 1rem;
        margin: 2rem 0;
      }
      .input-box {
        height: 2.75rem;
        border: solid 1px rgba(#171738, 0.5);
        border-radius: 0.5rem;
        overflow: hidden;
        input {
          border: none;
          width: 80%;
          height: 100%;
          padding-left: 2rem;

          &:focus {
            outline: none;
          }
        }

        &.active {
          border: solid 1px var(--secondary);
        }

        .box-icon {
          display: inline-block;
          width: 20%;
          text-align: center;
          border-right: rgba(#171738, 0.5);
        }
      }

      .quote-btn {
        width: 100%;
      }

      .output-section {
        padding-top: 1rem;
        margin-top: 2rem;

        ul li {
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
        }
      }
    }
  }
  background: url("../assets/bgShape.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 60%;
}

.receipt-header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: dashed rgba(#171738, 0.5) 1px;
  font-weight: 600;
  color: var(--primary);
}

.ds-hide {
  display: none;
}

.small-txt {
  font-weight: 300;
  color: rgba(var(--primary), 0.5);
  font-size: 0.75rem;
}
