<app-nav-bar></app-nav-bar>
<main>
  <div class="main-content">
    <div class="content">
      <h1>
        A widget empire built for your
        <span class="highlight">convience.</span>
      </h1>
      <p class="supporting-text">Your dream widgets are a few clicks away</p>
      <div class="partners">
        <p class="title">Our delivery partners:</p>
        <div class="logos">
          <img src="../assets/partners/fedex.png" alt="" />
          <img src="../assets/partners/ups.png" alt="" />
          <img src="../assets/partners/dhl.png" alt="" />
        </div>
      </div>
      <app-biker-decoration></app-biker-decoration>
    </div>
    <div class="form-box">
      <form class="form">
        <h1>Get a <span class="highlight">free</span> quote</h1>
        <p class="highlight mb-center">A quotation in less than 5 seconds</p>
        <p class="title">How many widgets would you like to order?</p>
        <div class="input-box" [ngClass]="{ active: focused }">
          <input
            type="number"
            (focus)="setOrderInputFocus()"
            (blur)="setOrderInputFocus()"
            [value]="orderNumber"
            [(ngModel)]="orderNumber"
            [ngModelOptions]="{ standalone: true }"
            min="1"
          />
          <div class="box-icon">📦</div>
        </div>
        <ul class="fyi">
          <li>
            Please note we only sell full packs so you’re order will be
            converted into a closest minimum pack number.
          </li>
          <li>Minimum pack size is 250.</li>
          <li>
            Our calculator is designed to use the smallest possible sizes to
            ensure you allows get the cheapest prices. 😉
          </li>
        </ul>
        <button class="btn quote-btn" (click)="generateQuote($event)">
          Generate Quote
        </button>
        <div *ngIf="showReceipt" class="output-section">
          <div class="receipt-header">
            <div>Pack size</div>
            <div>Qty 📦</div>
          </div>
          <ul *ngFor="let item of indexTracker">
            <li *ngIf="item.count">
              <div>{{ item.value }}</div>
              <div>{{ item.count }}</div>
            </li>
          </ul>
          <p class="small-txt">
            *These are the number of boxes you can hope to expect.
          </p>
        </div>
      </form>
    </div>
  </div>
</main>
